[submodule "baresip"]
	path = baresip
	url = https://github.com/alfredh/baresip.git
[submodule "rem"]
	path = rem
	url = https://github.com/creytiv/rem.git
[submodule "re"]
	path = re
	url = https://github.com/creytiv/re.git
