[submodule "baresip"]
	path = baresip
	url = https://github.com/eleKtronicwindow/baresip.git
[submodule "rem"]
	path = rem
	url = https://github.com/creytiv/rem.git
[submodule "re"]
	path = re
	url = https://github.com/creytiv/re.git
[submodule "peervpn"]
	path = peervpn
	url = https://github.com/peervpn/peervpn
