[Unit]
Description=EWindow Autoconnect script
Documentation=
After=network.target
Wants=

[Service]
ExecStart=/usr/local/bin/ewindow
KillMode=process
Restart=on-failure
RestartSec=23s
Environment=SYSTEMD_LOG_LEVEL=debug
User=ewindow

[Install]
WantedBy=multi-user.target

