[Unit]
Description=PeerVPN network service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/peervpn /etc/ewindow/peervpn.conf

[Install]
WantedBy=multi-user.target
